@using Viskleken.Models
@model Viskleken.Viewmodels.LanguageSelectorVM

@{ 
    var swedish = Model.AllLanguages.First(e => e.Code == "sv");
}

@section scripts
{
	<script type="text/javascript">
		$(function() {
			$('[data-toggle="popover"]').popover();

			@foreach (string selectListItem in Model.SelectedLanguages)
			{
				Language language = Model.AllLanguages.FirstOrDefault(e => e.Code == selectListItem);
				if (language != null)
				{
					@Html.Raw($"addLanguage('{language.Name}', '{language.Code}');")
				}
			}
		});

		function addLanguage(lang, code) {
			$('<div class="input-group" style="margin-bottom: 0.5em">' +
				'<input class="form-control" name="SelectedLanguageNames" type="text" value="'+lang+'" readonly="readonly" />' +
				'<button class="input-group-addon btn btn-danger" onclick="$(this).parent().remove()" type="button">Ta bort</button>' +
				'<input type="hidden" name="@nameof(Model.SelectedLanguages)" value="' + (code || '') + '">' +
			'</div>').appendTo($('#selectedLanguages'));
		}
	</script>
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="row">
		<p class="col col-md-2"></p>
		<p class="page-header col col-md-5">@Model.Heading</p>
	</div>

	<div class="row">
		<div class="form-horizontal">
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
					@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Phrase, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Phrase, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Phrase, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.SelectedLanguages, htmlAttributes: new { @class = "control-label col-md-2"})
                <div class="col col-md-10">
                    @* SWEDISH PREPEND *@
                    <div class="input-group" style="display:none;">
                        <input class="form-control" name="SelectedLanguageNames" type="text" value="@swedish.Name" readonly="readonly" />
                        <input type="hidden" name="@nameof(Model.SelectedLanguages)" value="@swedish.Code" disabled="disabled">
                    </div>
                    @* USER SELECTED LANGUAGES *@
                    <div id="selectedLanguages">
                    </div>
                    @* SWEDISH APPEND *@
                    <div class="input-group" style="display:none;">
                        <input class="form-control" name="SelectedLanguageNames" type="text" value="@swedish.Name" readonly="readonly" />
                        <input type="hidden" name="@nameof(Model.SelectedLanguages)" value="@swedish.Code" disabled="disabled">
                    </div>

                    <a href="#" class="btn btn-success" data-toggle="popover" data-placement="bottom"
                       title="Lägg till språk" data-html="true" data-trigger="focus"
                       data-content="@Html.Partial("_LanguageTablePartial", Model.AllLanguages).ToHtmlString()">Lägg till språk</a>
                    @Html.ValidationMessageFor(model => model.SelectedLanguages, "", new { @class = "text-danger" })
                </div>
			</div>

				<div class="row">
					<div class="form-group">
						<div class="col col-md-offset-2 col-md-6">
							<input type="submit" value="Viska!" class="btn btn-success" id="whisper-btn" />
						</div>
					</div>
				</div>
			@if (Model.StageInProcess == 2)
			{
				<div class="row">
					<div class="col col-md-offset-2 col-md-10 reset">
						<div>@Html.ActionLink("Nollställ", "SelectLanguage", null, new { @class = "btn btn-danger" })</div>
					</div>
					<p class="col col-md-offset-2 col-md-10" id="start-message">@Model.StartMessage</p>
				</div>
			}
		</div>

		<div class="row">
			<label class="col col-md-2" id="result-label">Resultat </label>
			<div class="col col-md-10">
				<span id="result" class="form-control"></span>

			</div>
		</div>

	</div>

}