<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Viskleken</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link href="https://fonts.googleapis.com/css?family=Freckle+Face" rel="stylesheet">
</head>
<body>


<div class="container body-content">
	
	<header>
		<div class="row">
			<div style="margin-left: -15px; margin-right: -15px;">
			<div class="control-label col-md-2">
				<img id="logo" src="@Url.Content("~/Content/Big_blue_black.png")" alt="Bitoreq company logo" class="img-responsive" style="padding: 0.3em;"/>
			</div>
				<div class="col-md-10 page-header">
					@ViewData["Header"]
				</div>
			</div>
		</div>
	</header>

	<article>
		@RenderBody()
	</article>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
